#!/usr/bin/env xdg-open
[Desktop Entry]
Comment=Sistema de Ingreso de Expedientes
Terminal=false
Name=SIE-Terminal de Impresión
Exec=bash /usr/local/bin/gsf/scripts/manejar_impresora_SIE.sh 
Type=Application
Icon=printer
