#!/usr/bin/env xdg-open

[Desktop Entry]
Comment=Configuración de parámetros de conexiones SNA (SIE y Terminal de Impresión)
Terminal=false
Name=Configuración SNA
Exec=pkexec --user $(cat /etc/group | grep sudo|cut -d: -f4|cut -d: -f4|cut -d: -f4|cut -d, -f1) pkexec bash /usr/local/bin/gsf/scripts/configurar_sna.sh 
Type=Application
Icon=/usr/local/bin/gsf/icons/icono-Config-SIE.png

